<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uuch.android_zxinglibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/chair"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThreeActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Myseat" />
        <activity android:name=".Order" />
        <activity android:name=".SeekSeat" />
        <activity android:name=".LogonActivity"></activity>


        <activity android:name="com.uuch.android_zxinglibrary.client.NotificationDetailsActivity"
            android:label="Notification Details">
        </activity>
        <activity android:name="com.uuch.android_zxinglibrary.client.NotificationSettingsActivity"
            android:label="Notification Settings">
        </activity>
        <service android:enabled="true"
            android:name="com.uuch.android_zxinglibrary.client.NotificationService"
            android:label="NotificationService">
            <intent-filter>
                <action android:name="com.uuch.android_zxinglibrary.client.NotificationService" />
            </intent-filter>
        </service>

    </application>

</manifest>